async-timeout==4.0.3 ; python_version >= "3.11" and python_full_version < "3.11.3"
grpcio-tools==1.64.1 ; python_version >= "3.11" and python_version < "4.0"
grpcio==1.64.1 ; python_version >= "3.11" and python_version < "4.0"
protobuf==5.27.1 ; python_version >= "3.11" and python_version < "4.0"
redis==5.0.6 ; python_version >= "3.11" and python_version < "4.0"
setuptools==70.1.0 ; python_version >= "3.11" and python_version < "4.0"
